client/public/geometries/**/*.bin filter=lfs diff=lfs merge=lfs -text
client/public/geometries/**/*.glb filter=lfs diff=lfs merge=lfs -text
client/public/geometries/**/*.gltf filter=lfs diff=lfs merge=lfs -text
client/public/geometries/**/*.hdr filter=lfs diff=lfs merge=lfs -text
client/public/geometries/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
client/public/geometries/**/*.jpg filter=lfs diff=lfs merge=lfs -text
client/public/geometries/**/*.ktx2 filter=lfs diff=lfs merge=lfs -text
client/public/geometries/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
client/public/geometries/**/*.png filter=lfs diff=lfs merge=lfs -text
client/public/geometries/**/*.webp filter=lfs diff=lfs merge=lfs -text
client/public/models/**/*.bin filter=lfs diff=lfs merge=lfs -text
client/public/models/**/*.glb filter=lfs diff=lfs merge=lfs -text
client/public/models/**/*.gltf filter=lfs diff=lfs merge=lfs -text
client/public/models/**/*.hdr filter=lfs diff=lfs merge=lfs -text
client/public/models/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
client/public/models/**/*.jpg filter=lfs diff=lfs merge=lfs -text
client/public/models/**/*.ktx2 filter=lfs diff=lfs merge=lfs -text
client/public/models/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
client/public/models/**/*.png filter=lfs diff=lfs merge=lfs -text
client/public/models/**/*.webp filter=lfs diff=lfs merge=lfs -text
client/public/portraits/**/*.bin filter=lfs diff=lfs merge=lfs -text
client/public/portraits/**/*.glb filter=lfs diff=lfs merge=lfs -text
client/public/portraits/**/*.gltf filter=lfs diff=lfs merge=lfs -text
client/public/portraits/**/*.hdr filter=lfs diff=lfs merge=lfs -text
client/public/portraits/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
client/public/portraits/**/*.jpg filter=lfs diff=lfs merge=lfs -text
client/public/portraits/**/*.ktx2 filter=lfs diff=lfs merge=lfs -text
client/public/portraits/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
client/public/portraits/**/*.png filter=lfs diff=lfs merge=lfs -text
client/public/portraits/**/*.webp filter=lfs diff=lfs merge=lfs -text
client/public/textures/*.bin filter=lfs diff=lfs merge=lfs -text
client/public/textures/*.glb filter=lfs diff=lfs merge=lfs -text
client/public/textures/*.gltf filter=lfs diff=lfs merge=lfs -text
client/public/textures/*.hdr filter=lfs diff=lfs merge=lfs -text
client/public/textures/*.jpeg filter=lfs diff=lfs merge=lfs -text
client/public/textures/*.jpg filter=lfs diff=lfs merge=lfs -text
client/public/textures/*.ktx2 filter=lfs diff=lfs merge=lfs -text
client/public/textures/*.mp4 filter=lfs diff=lfs merge=lfs -text
client/public/textures/*.png filter=lfs diff=lfs merge=lfs -text
client/public/textures/*.webp filter=lfs diff=lfs merge=lfs -text
